body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
header nav.navbar{
    width: 100%;
    background: white;
    border: none;
    box-shadow: none;
    z-index: 8;
    margin: 0 auto;
}
header nav.nav1{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    
}
header nav.nav2{
    padding: 0 10%;
    background:rgb(255,132,0);
    background: -webkit-gradient(linear, left top, right bottom, from(#ec3317), to(#fbaf1b));
    background: -webkit-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -moz-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -ms-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -o-linear-gradient(left, #ec3317, #fbaf1b);
    background: linear-gradient(to right, #ec3317, #fbaf1b);
}
.nav_lang{
    padding: 38px 0;
    margin: 0;
    text-align: center;
}
.nav1 li{
    margin: 0;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}
.nav1 li:first-child{
    margin-right: 20px;
}
.nav_lang a{
    color: rgb(255,132,0);
    letter-spacing: 1px;
}
.nav_lang a:hover{ 
    cursor: pointer;
    color:rgb(66,79,111);
    text-decoration: none;
}
.nav1 img{
    margin-top: 10px;
}
header div#navbar a{
    color: white;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
}
a.navbar-brand{
    font-size: 15px;
    letter-spacing: 1px;
}
header div#navbar a:hover{ 
    cursor: pointer;
    border-bottom: 4px solid white;
}

.nav2 a.navbar-brand{
    color: white;
}
a.left, a.right{
    z-index: 2;
}
#banner{
    width: 100%;
    background: url('../imgs/hk_banner5.png') no-repeat;
    background-size: cover;
    background-position: bottom;
}
.section_title{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    color: white;
    font-family: -apple-system,"BlinkMacSystemFont","Helvetica","Arial","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    letter-spacing: 2px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 55px;
}
.section_title h1{
    display: none;
}
#crumb{
    background: rgb(238,238,238);
}
#crumb ol{
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;  
}
#crumb li, #crumb li a{
    color: rgb(137,137,137);
    font-family: -apple-system,"BlinkMacSystemFont","Helvetica","Arial","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 15px;
}
#content_container{
    padding-top: 0px;
}
.panel-body{
    padding: 0;
    padding-top: 15px;
}
div.panel-group, div.panel-collapse, .panel-body li, .panel-body, .panel-body ul{
    border:none;
    box-shadow: none; 
}
div.panel-group{
    background: rgb(255,255,255);
}
.panel{
    border-bottom: 1px solid rgb(221,221,221);
    box-shadow: none;
}
.panel-title a{
    text-decoration: none;
    font-size: 15px;
}
.panel-body li a{
    font-size: 14px;
}
.panel-body li span{
    color: rgb(255,132,0);
    
}
.panel-title a, .panel-body li a{
    color: rgb(255,132,0);
    font-family: -apple-system,"BlinkMacSystemFont","Helvetica","Arial","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.panel-title a:hover, .panel-body li a:hover{
    cursor: pointer;
    
}
.panel-heading-One{
    padding-top: 15px;
    
}
.panel-title{
    box-sizing: border-box;
    padding-bottom: 5px;
    
}
.article{
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 100px;
}
.article h3, .article h4{
    font-family: -apple-system,"BlinkMacSystemFont","Helvetica","Arial","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    color: black;
    line-height: 1.2;
}
.article h3{
    margin-bottom: 10px;
}
.article h4{
    margin-top: 20px;
}
.article img{
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article p, .article li{
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 14px;
    color: rgb(137,137,137);
    line-height: 1.7;
    margin-bottom: 0;
}
.article a{
    color:  rgb(255,132,0);
    text-decoration: none;
}
.article a:hover{
    cursor: pointer;
}
footer{
    width: 100%;  
}
#lower-footer{
    width: 100%;
    background:rgb(255,132,0);
    background: -webkit-gradient(linear, left top, right bottom, from(#ec3317), to(#fbaf1b));
    background: -webkit-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -moz-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -ms-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -o-linear-gradient(left, #ec3317, #fbaf1b);
    background: linear-gradient(to right, #ec3317, #fbaf1b);
    padding-left: 10%;
}

#lower-footer{
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
#lower-footer a{
    text-decoration: none;
    color: white;
}
#lower-footer a:hover{
    text-decoration: none;
    color: rgb(66,79,111);
}
