body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#container{
    width: 100%;
    max-width: 1065px;
    height: 100%;
    margin: 0 auto;
}
header nav.navbar{
    width: 100%;
    background: white;
    border: none;
    box-shadow: none;
    z-index: 8;
    margin: 0 auto;
}
header nav.nav1{
    width: 100%;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0;
    
}
header nav.nav1 a{
    text-align: center;
}
header nav.nav2{
    width: 100%;
    margin:0 auto;
    background:rgb(255,132,0);
    background: -webkit-gradient(linear, left top, right bottom, from(#ec3317), to(#fbaf1b));
    background: -webkit-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -moz-linear-gradient(right, #ec3317, #fbaf1b); 
    background: -ms-linear-gradient(right, #ec3317, #fbaf1b); 
    background: -o-linear-gradient(right, #ec3317, #fbaf1b);
    background: linear-gradient(to right, #ec3317, #fbaf1b);
}
.nav2 div.container-fluid{
	width: 100%;
	max-width: 1065px;
	margin: 0 auto;
	padding:0 10px;
}
.nav_lang{
    padding: 38px 0;
    margin: 0;
    text-align: center;
}
.nav1 li{
    margin: 0;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}
.nav1 li:first-child{
    margin-right: 20px;
}
.nav_lang a{
    color: rgb(255,132,0);
    letter-spacing: 1px;
}
.nav_lang a:hover{ 
    cursor: pointer;
    color:rgb(66,79,111);
    text-decoration: none;
}
.nav1 img{
    margin-top: 10px;
}
header div#navbar a{
    color: white;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
}
a.navbar-brand{
    font-size: 15px;
    letter-spacing: 1px;
}
header div#navbar a:hover{ 
    cursor: pointer;
    border-bottom: 4px solid white;
}
.nav2 a.navbar-brand{
    color: white;
}
a.left, a.right{
    z-index: 10;
}
#cover_container{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
#cover_container_inner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#veil{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 9;
    box-sizing: border-box;
    padding-top: 18%
}
div#main_title{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 44px;
    font-size: 3.3vw;
    font-weight: bold;
}
div#main_title p{
    margin-top: 0px;
    color: rgb(255,255,255);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 16px;
    font-size: 1.3vw;
}
span#glow{
    font-size: 70px;
    font-size: 5.2vw;
    color: rgb(255,132,0);
    text-shadow: 5px 1px 3px rgb(255,255,255);
}
#cover_container img{
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
#news_container{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 10px;
}
#news_container .thumbnail{
    border: none;
    box-shadow: none;
    position: relative;
    padding: 0; 
}
#news_container .thumbnail:hover{
    cursor: pointer;
}
#news_container .caption{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background:linear-gradient(to right, rgba(236,51, 23,0.4), rgba(251,175,27,0.4));
    color: white!important;
}
#news_container a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 2px 15px;
    border: 2px solid white;
    display: inline-block;
}
#news_container a:hover{
    background: white;
    color: rgba(255,132,0,0.9);
}
#news_container h3{
    text-align: center;
    color: rgb(116,116,116);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
}
.module-title{
     background: -webkit-linear-gradient(rgb(236,51, 23), rgb(251,175,27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
}
#about_container{
    width: 100%;
}
#about{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(167,167,167,0.2);
    box-sizing: border-box;
    padding-top: 40px;
    
}
#about_company{
    text-align: center;
    margin-bottom: 40px;
}
#about div.panel, #about div.panel-heading, #about div.collapse, #about div.panel-body{
    border: none;
    box-shadow: none;
    
}
#about a{
    text-decoration: none;
    color: rgb(66,79,111);
    font-size: 18px;
}
#about a:hover{
    text-decoration: none;
    
}
#about div.panel-body{
    color:  rgb(167,167,167);
    line-height: 1.6;
}
#service_container{
    width: 100%;
}
#service{
    width: 100%;
    margin: 10px auto 45px;;
    box-sizing: border-box;
}
.ch-grid {
	margin: -20px 0 0 -10px;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	transition: all 0.4s linear;
	transform-origin: 50% 0%;
}
.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}
.ch-info .ch-info-back {
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: rgb(66,79,111);
	opacity: 0;
}
.ch-img-1 { 
	background-image: url(../imgs/hk_service_new.jpg);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 110px;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-item:hover .ch-info-front {
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}
.ch-item:hover .ch-info-back {
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
div.row_test{
    margin-top: -10px;
    padding-bottom: 20px;
}
div.row_test:hover{
    box-shadow: -1px 1px 5px 1px rgb(224,225,220);
}
#service p.module-title{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(167,167,167,0.2);
    padding-left: 15px;
}
div.row_test:first-child{
    padding-left: 30px;
}
div.row_test h3{
    color: rgb(66,79,111);
    font-size: 20px;
    margin-bottom: 20px;
}
div.row_test p{
    color: rgb(167,167,167);
    line-height: 1.6;
} 
div.row_test a{
    color: rgb(255,132,0);
    text-align: left;
    
}

#cases_container{
    width: 100%;
    background: url('../imgs/test2.png') no-repeat;
    background-size: cover;
    background-position:center;
    background: -webkit-gradient(linear, left, right, from(#a90e86), to(#fba908));
    background: -webkit-linear-gradient(left, #a90e86, #fba908); 
    background: -moz-linear-gradient(right, #a90e86, #fba908); 
    background: -ms-linear-gradient(right, #a90e86, #fba908); 
    background: -o-linear-gradient(right, #a90e86, #fba908);
    background: linear-gradient(to right, #a90e86, #fba908);
    color: white;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}
#cases_container_inner{
    
    width: 90%;
    margin: 0px auto;   
}
.hideme{
    opacity: 0;
}
.cases-title{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 26px;
    position: absolute;
    top: 16px;
}
#cases_container_inner img{
    width: 80px;
    
}
.row1{
    border-bottom: 6px solid white;
}
.row12, .row21, .row14, .row23, .row25{
    border-left: 2px dashed white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.row12 p, .row21 p, .row14 p, .row23 p, .row25 p{
    font-size: 12px;
}
.row15, .row22, .row13, .row24{
    text-align: right;
    box-sizing: border-box;
    padding-top: 50px;
}
.row11{
    text-align: left;
    box-sizing: border-box;
    padding-top: 50px;
    
}
#cases_container a{
    font-weight: bold;
}
#partners{
    background: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
}
#partners a{
    border: none;
    box-shadow: none;
}
#partners a:hover{
    cursor: pointer;
}
#map{
    width: 100%;
}
#map img{
    width: 100%;
    height:auto;
}
footer{
    width: 100%;
    background: rgb(238,238,238);
    box-sizing: border-box;
    border-top: 1px solid white;
}
#upper-footer{
    width: 100%;
    max-width: 1065px;
    margin: 0 auto;
}
#contact-info{
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(238,238,238);
    box-sizing: border-box;
    padding-left: 0px;
    
}
#contact-info ul{
    border: none;
    box-shadow: none;
}
#contact-info ul li{
    border: none;
    box-shadow: none;
    background: transparent;
    color: rgb(167,167,167);
}
#contact-info ul li:first-child{
    border-bottom: 1px solid white;
}
#contact-info ul li a{
    color: rgb(167,167,167);
}
.footer-title{
    color: rgb(167,167,167);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    
}
#contact-info ul li a{
    cursor: pointer;
}
#form_container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(238,238,238);
    box-sizing: border-box;
    padding-top: 20px;
}
#form_container button{
    width: 80px;
    height: 35px;
    background: transparent;
    border: 1px solid  white;
    outline: none;
    color: rgb(255,132,0);
}
#form_container button:hover{
    background:  white;  
}
.up-arrow{
    text-align: center;

}
#back-to-top{
    position: fixed;
    bottom: 90px;
    right: 25px;
    visibility: hidden;
}
#back-to-top img{
    width: 40px;
    height: 40px;
}
#lower-footer{
    width: 100%;
    background:rgb(255,132,0);
    background: -webkit-gradient(linear, left top, right bottom, from(#ec3317), to(#fbaf1b));
    background: -webkit-linear-gradient(left, #ec3317, #fbaf1b); 
    background: -moz-linear-gradient(right, #ec3317, #fbaf1b); 
    background: -ms-linear-gradient(right, #ec3317, #fbaf1b); 
    background: -o-linear-gradient(right, #ec3317, #fbaf1b);
    background: linear-gradient(to right, #ec3317, #fbaf1b); 
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
#lower-footer-inner{
    width: 100%;
    max-width: 1065px;
    margin: 0 auto;
}
#lower-footer a{
    text-decoration: none;
    color: white;
}
#lower-footer a:hover{
    text-decoration: none;
    color: rgb(66,79,111);
}

